<configuration>
  <!-- Web.config for Azure Websites IIS -->
  <system.webServer>
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <action type="Rewrite" url="main.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="*.js;main.html;node_modules\*;web.config" loggingEnabled="true" devErrorsEnabled="true"/>
  </system.webServer>
</configuration>


