<configuration>
  <!-- Web.config for Azure Websites IIS -->
  <system.webServer>
    <webSocket enabled="false" />
    <httpErrors existingResponse="PassThrough"/>
    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <action type="Rewrite" url="main.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- nodeProcessCommandLine="./bin/node.exe" -->
    <iisnode
      watchedFiles="*.js;main.html;alt_base_urls.txt;node_modules\*;web.config"
      loggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="../../LogFiles/Application/"/>
  </system.webServer>
  <!--
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="0.12.7" />
  </appSettings>
  -->
</configuration>

